@tailwind base;
@tailwind components;
@tailwind utilities;
.box {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(9, 65, 121) 22%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-left: 1rem;
  }
  
  .cityInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
  }
  
  .searchIcon {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  
  .weatherIcon img {
    border-radius: 10px;
  }
  
  .temperature {
    font-size: 24px;
    font-weight: bold;
    color: #f7f5f5;
    margin-top: 20px;
    margin-bottom: -15px;
  }
  .weatherDescription {
    font-size: 24px;
    font-weight: bold;
    color: #f7f5f5;
  }
  
  .place {
    font-size: 20px;
    font-weight: bold;
    color: #fbf6f6;
  }
  
  .weatherReport {
    margin-top: 20px;
  }
  
  
  .gap {
    gap: 1rem;
  }
  
  .h {
    height: 70px;
  }
  
  .rounded {
    border-radius: 40px;
  }
  
  .searchIcon:hover {
    background-color: #e0e0e0;
  }
  
  /* Add styles for Water and Air icons if necessary */
  
  .humidity-percent,
  .windspeed {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #f8f5f5;
  }
  
  /* Add any additional styling as needed */
  